%footer
  #main
    %section
      %ul#more-company-info
        %li
          = link_to 'about', '#'
        %li
          = link_to 'blog', '#'
        %li
          = link_to 'press', '#'
        %li
          = link_to 'help', '#'
        %li
          = link_to 'terms', '#'

    %section
      %ul#company-culture
        %li
          = link_to 'Our inspiration', '#'
        %li
          = link_to 'Our mission', '#'
        %li
          = link_to 'state of the art facilities', '#'
        %li
          = link_to 'faq', '#'
        %li
          = link_to 'testimonials', '#'
    %section
      %ul#social-links
        %li
          = link_to 'facebook', '#'
        %li
          = link_to 'twitter', '#'
        %li
          = link_to 'Instagram', '#'
        %li
          = link_to 'pinterest', '#'
